# The environment variables for the Vercel services, e.g. Edge Config 
EDGE_CONFIG=""
VERCEL="1"
VERCEL_ENV="development"
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PULL_REQUEST_ID=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_URL=""

# These are the environment variables used by the Clerk SDK to authenticate into the Clerk API.
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/auth/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/auth/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/parties/create
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/


# The public URL of the Vercel deployment. This is automatically set by Vercel  on the server, but we need to set it 
# here for the client to know where to make requests to while in development.
NEXT_PUBLIC_VERCEL_URL="localhost:3000"

# The Firebase configuration for the "firebase/app" SDK (client- and server-side) to use so it can authenticate into the
# Firebase services.
NEXT_PUBLIC_FIREBASE_CLIENT_CREDENTIAL_SCHEMA=""

NEXT_PUBLIC_FIREBASE_CLIENT_DATABASE_URL=""


# The Firebase configuration for the "firebase-admin" SDK (!! server-side only) to use so it authenticates into the 
# Firebase services.
FIREBASE_ADMIN_CREDENTIAL_SCHEMA=""

FIREBASE_ADMIN_REALTIME_DATABASE_URL=""

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""
